<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
    xmlns:th="http://www.thymeleaf.org"
    xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

    
    <div class="navbar navbar-inverse">
        <a class="navbar-brand" href="#">Contatos</a>
        <ul class="nav navbar-nav">
            <li class="active">
                <a th:href="@{/contatos/novo}">Cadastro</a>
            </li>
            <li>
            	<a th:href="@{/contatos}">Contatos</a>
            </li>
        </ul>
    </div>
    
	
</html>